{% extends "base.html" %}

{% block title %}Empresas{% endblock %}

{% block main %}

	<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
					<div class="panel panel-default">
							<div class="panel-heading">
									<h3 class="panel-title">Empresas</h3>
							</div>
									
							<ul class="list-group">
									{% for empresa in empresas %}
									<li class="list-group-item">
											<a href="{% url 'visualizar_empresa' empresa.id %}"><strong>{{ empresa.razao_social }}</strong></a>
											<span class="pull-right">
													<a href="{% url 'visualizar_empresa' empresa.id %}" class="btn btn-info btn-xs">Ver</a> &nbsp;
													<a href="{% url 'atualizar_empresa' empresa.id %}" class="btn btn-info btn-xs">Editar</a> &nbsp;
													<a href="{% url 'excluir_empresa' empresa.id %}" class="btn btn-danger btn-xs">Deletar</a> &nbsp;
											</span>
									</li>
									{% endfor %}
							</ul>

					</div>
			</div>
	</div>
{% endblock %}